* {
  font-family: 'Cuprum', sans-serif;
  color: #07446B
}

.container {
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  color: #0A67A3 !important;
  border-bottom: 5px solid rgba(166,135,21,1);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  height: 100%;
}

header {
  height: 100vh;
  width: 100%;
}

main {

}

footer {
  height: 100px;
  background-color: #151B3E;
}



.catalyst {
  font-family: 'Vibur', cursive;
  font-size: 3em;
}

.tab {
  transition: all .35s ease;
}

.tab:hover {
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(166,135,21,1);
}

.video-container {
  height: 100%;
  width: 100%;
}

.video {
  height: 110%;
  width: 100%;
  overflow: hidden;
}

#player {
  display: block;
  width: 100%;

}

.overlay {
  height: 100%;
  position: relative;
  width: 100%;
  top: -100vh;
  background: rgba(13,19,127,.6);
  background: -webkit-linear-gradient(rgba(13,19,127,.5), rgba(8,11,40,1));
  background: -o-linear-gradient(rgba(13,19,127,.5), rgba(8,11,40,1));
  background: -moz-linear-gradient(rgba(13,19,127,.5), rgba(8,11,40,1));
  background: linear-gradient(rgba(13,19,127,.5), rgba(8,11,40,1));

  display: flex;
  align-items: center;
}

.header-text {
  color: white;
  font-size: 2.5em;
  height: 50%;
  width: 60%;
  padding-left: 10%;
  padding-top: 10%;
}

.header-text h1, .header-text h2 {
  color: white;
  margin: 0;
}

#player {
  height: 100%;
  width: 100%;
}

.topic {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left, .right {
  height: 100%;
  width: 50%;
}


.one {
  background-image: url('./images/ali.jpg');
  background-size: cover;
}

.two {
  background-image: url('./images/victor.jpg');
  background-size: cover;
}

.three {
  background-image: url('./images/chau.jpg');
  background-size: cover;
}

.shade {
  height: 100%;
  width: 100%;
  background-color: rgba(166,135,21,.8);
  display: flex;
  justify-content: center;
  align-items: center;

}

.blue {
  background-color: rgba(13,19,127,.5);
  height: 100%;
  width: 100%;
}

.topic-text {
  color: #07446B;
  font-size: 2em;
}

.topic-text p {
  margin: 0;
  font-family: 'Vibur', cursive;
}

.view-box {
  display: flex;
}

.view {
  height: 70px;
  width: 140px;
  background-color: #07446B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.view p {
  color: rgba(166,135,21,1);
  font-family: 'Cuprum', sans-serif;
}

.arrow {
  height: 45px;
  width: 45px;
  border-top: 5px solid #07446B;
  border-right: 5px solid #07446B;
  transform: rotate(45deg);
  margin-top: 10px;
}

.social-icons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: white;
}

.icon:hover {
  cursor: pointer;
}
